* {
	font-color: Black;
	background-color: #F5F5F5;
}

h1 {
	font-family: 'Pacifico', cursive;
	font-size: 3.500em;
	font-color: #FF533D;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.125em;
	font-color: #0F1626;
}

/* another color Leather (tan) #AB987A) */