* {
	color: Black;
	background-color: #F9F2E7;
}

h1 {
	font-family: 'Pacifico', cursive;
	font-size: 3.500em;
	color: #3A2340;
	line-height: 0.5em;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.125em;
	color: #4F4F51;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	color: #4F4F51;
}
/* another color Tan) #C09F80) */
